@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+A&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
*{
box-sizing: border-box;
font-family:'Poppins', sans-serif;
margin: 0;

}

body
{
    background-color: black;
}


li, a, button{
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
    
    header {
        background-color: rgb(232, 237, 240);
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: -2px;
    }
        
        .logo img {
        cursor: pointer;
        width: 50px;
        font-size: 50px;
        margin-bottom: 0;
        margin-left: 20px;
        }
    
    .nav_links {
    list-style: none;
    }
    
    .nav_links li {
    display: inline-block;
    padding: 0px 20px
    }
    
    .nav_links li a:hover{
    color: rgb(119, 125, 125);
    }
    
    .reg button {
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    background: none;
    margin-right: 10px;
    font-size: 14px;
    transition: 0.4s;
    margin-bottom: 7px;
    
    }
    
    .reg :hover{
        color: whitesmoke;
      
    }
    
    .reg {
    margin-left: -250px;
    }
    
.sec {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    background-color: #000000;
   

    }

    .container {
        position: relative;
        max-width: 100%;
        background: rgb(0, 0, 0);
        width: 768px;
        min-height: 480px;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 70px;
        margin-bottom: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                    0 10px 10px rgba(0,0,0,0.22)   
          
    }

.sign-in , .sign-up{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
        }

.sign-up {
 width: 50%;
opacity: 0;
z-index: 1;
         }     
            
.sign-in {
width: 50%;
z-index: 2;
         } 

         form {
            background: rgb(241, 241, 241);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            text-align: center;
         }   
         h1 {
            font-weight: bold;
            margin: 0;
            }
            p{
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: 0.5px;
                margin: 15px 0 20px;
            }
        
        input {
        background: #eee;
        padding: 12px 15px;
        margin: 8px 15px;
        width: 100%;
        border-radius: 20px;
        border: none;
        outline: none;
            }
        
        a{
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px , 0;
        }                         

        button {
            color: rgb(248, 248, 248);
            padding: 5px 40px;
            border: 1px solid rgb(87, 87, 87);
            background: #1b1b1b;
            border-radius: 50px;
            cursor: pointer;
            margin-top: 10px;
            font-size: 15px;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            outline: none;
            transition: transform 80ms ease-in-out;
        }
button:active {
transform: scale(0.90);


}

#signin , #signUp {
background-color: transparent;
border: 2px solid whitesmoke;
}

.container.right-panal-active  .sign-in{
transform: translateX(100%);
}

.container.right-panal-active  .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    }
.overlay-container {
position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
overflow: hidden;
transition: transform 0.6 ease-in-out;
z-index: 100;
}

.container.right-panal-active .overlay-container{
transform: translateX(-100%);
}

.overlay{
position: relative;    
color: whitesmoke;
background: rgb(0, 0, 0);
left: -100%;
height: 100%;
width: 200%;
background-image: url(images/6.jpg);
background-size: cover;
transform: translateX(0);
transition: transform 0.6 ease-in-out;
}

.container.right-panal-active .overlay{
transform: translateX(50%);
}

.overlay-left , .overlay-right{
position: absolute;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
padding: 0 40px;
text-align: center;
top: 0;
height: 100%;
width: 50%;
transform: translateX(0);
transition: transform 0.6 ease-in-out;

}

.overlay-left {
transform: translateX(-20%);
}

.overlay-right {
right: 0;
transform: translateX(0);
}

.container.right-panal-active .overlay-left {
transform: translateX(0);

}

.container.right-panal-active .overlay-right {
    transform: translateX(20%);
    
    }

.social-container {
margin: 20px 0;


}  

.social-container a {
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;

    }  
  
    

/* Footer */

.footer1
{
    background-color: #2a2d30;
    height: 100%;
    margin-top: 210px;
}

footer {
    background-color: #2a2d30;
    color: #ffffff;
    padding: 1em 300px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #525558;
    justify-content: space-between;
  }
  .footer a {
    text-decoration: none;
    color: #cbdbe5;
    justify-content: center;
  }
  
  .footer a:hover {
    color: rgb(255, 255, 255);
  }
  
  .copy {
    background-color: #2a2d30;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    color: #676b6f;
  }